*~
**/.project
**/.cproject
*.kdev4
.kdev4/
*.a
*.cache
*.o
*.la
*.lo
*.pc
.deps/
m4/
.dirstamp
stamp-h1
Makefile.in
Makefile
compile
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
.libs/
ar-lib
libtool
ltmain.sh
