<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="appid"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.genivi.capic.core.cli.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.genivi.capic.core.cli.appid"
            name="capic-core-gen">
         <property
               name="appName"
               value="capic-core-gen">
         </property>
      </product>
   </extension>

</plugin>
